
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  /* background-color: #121212 !important; */
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
  
}

.App {
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  
} 

